<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/users.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <script src="https://kit.fontawesome.com/cfb847b9dd.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</head>
<body>
   <main class="row" style="width: 100vw; height: 100vh;">
        <aside class="d-flex flex-column col-lg-2 h-100 menu-bg justify-content-between">
            <div class="row justify-content-center">
                <h2 class="text-white p-5 pb-0">Noisy-chestnut</h2>
                <div class="row justify-content-center mt-3 ps-4">
                    <div class="col-lg-6 w-100">
                        <div class="search-container">
                            <input type="text" class="form-control search-input" placeholder="Search...">
                            <i class="fas fa-search search-icon"></i>
                        </div>
                    </div>  
                </div>
            </div>
            <nav class="d-flex flex-column ps-3 pb-5">
                <ul class="nav flex-column">
                    <li class="nav-item"><a href="../index.html" class="nav-link text-white">Inicio</a></li>
                    <li class="nav-item"><a href="../artist/artist.html" class="nav-link text-white">Artistas</a></li>
                    <li class="nav-item"><a href="../concert/index.html" class="nav-link text-white">Conciertos</a></li>
                    <li class="nav-item"><a href="#" class="nav-link text-white">Nueva publicación</a></li>
                    <li class="nav-item"><a href="./concerts.html" class="nav-link text-white">Buscar</a></li>
                </ul>
                <div class="nav mt-5">
                    <a href="../user/login.html" class="nav-link text-white">Iniciar sesión</a></li>
                    <a href="../user/register.html" class="nav-link text-white">Registrarse</a></li>
                </div> 
            </nav>
        </aside>
        <section class="col-lg-10 h-100 bg-secondary">
            <ul class="nav nav-tabs justify-content-center bg-dark rounded mt-3">
                <li class="nav-item">
                    <a class="nav-link text-white" aria-current="page" href="./concerts.html">Conciertos</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link text-white" href="./artists.html">Artistas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="./users.html">Usuarios</a>
                </li>
            </ul>
            <div class="d-flex flex-row flex-wrap m-4">
                <ul class="list-group bg-dark w-100">
                    <li class="list-group-item bg-dark d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" class="rounded-circle" alt="FotoPerfil" style="width: 150px;">
                            <a href="../user/profile.html" class="text-decoration-none">
                                <h2 class="text-white m-0 ms-3">Usuario 1</h2>
                            </a>
                            <h2 class="text-white m-0 ms-3">
                                Seguidores: 100
                            </h2>
                            <h2 class="text-white m-0 ms-3">
                                Seguidos: 10
                            </h2>
                        </div>
                        <button class="btn btn-outline-light">
                            Seguir
                        </button>
                    </li>
                    <li class="list-group-item bg-dark d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" class="rounded-circle" alt="FotoPerfil" style="width: 150px;">
                            <a href="../user/profile.html" class="text-decoration-none">
                                <h2 class="text-white m-0 ms-3">Usuario 2</h2>
                            </a>
                            <h2 class="text-white m-0 ms-3">
                               Seguidores: 200
                            </h2>
                            <h2 class="text-white m-0 ms-3">
                               Seguidos: 50
                            </h2>
                        </div>
                        <button class="btn btn-outline-light">
                            Seguir
                        </button>
                    </li>
                    <li class="list-group-item bg-dark d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" class="rounded-circle" alt="FotoPerfil" style="width: 150px;">
                            <a href="../user/profile.html" class="text-decoration-none">
                                <h2 class="text-white m-0 ms-3">Usuario 3</h2>
                            </a>
                            <h2 class="text-white m-0 ms-3">
                               Seguidores: 150
                            </h2>
                            <h2 class="text-white m-0 ms-3">
                               Seguidos: 5
                            </h2>
                        </div>
                        <button class="btn btn-outline-light">
                            Seguir
                        </button>
                    </li>
                    <li class="list-group-item bg-dark d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" class="rounded-circle" alt="FotoPerfil" style="width: 150px;">
                            <a href="../user/profile.html" class="text-decoration-none">
                                <h2 class="text-white m-0 ms-3">Usuario 4</h2>
                            </a>
                            <h2 class="text-white m-0 ms-3">
                               Seguidores: 500
                            </h2>
                            <h2 class="text-white m-0 ms-3">
                               Seguidos: 200
                            </h2>
                        </div>
                        <button class="btn btn-outline-light">
                            Seguir
                        </button>
                    </li>
                    <li class="list-group-item bg-dark d-flex flex-row align-items-center justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <img src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" class="rounded-circle" alt="FotoPerfil" style="width: 150px;">
                            <a href="../user/profile.html" class="text-decoration-none">
                                <h2 class="text-white m-0 ms-3">Usuario 5</h2>
                            </a>
                            <h2 class="text-white m-0 ms-3">
                               Seguidores: 1009
                            </h2>
                            <h2 class="text-white m-0 ms-3">
                               Seguidos: 1000
                            </h2>
                        </div>
                        <button class="btn btn-outline-light">
                            Seguir
                        </button>
                    </li>
                </ul>
            </div>
        </section>
   </main> 
</body>
</html>