<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Places admin</title>
  <link rel="stylesheet" th:href="@{/css/places.css}" />
  <link rel="stylesheet" th:href="@{/css/placesAdmin.css}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>
<body>
<div layout:fragment="content" class="content">

  <div class="admin-header">
    <h2>Gestión de salas</h2>
    <button class="admin-header__create-button" onclick="openModal('createPlaceModal')"> + Crear nueva sala </button>
  </div>


  <div class="place-card">
    <img class="place-card__image" src="https://www.atleticodemadrid.com/system/file3s/78316/large/BV81gnkPa-__37A2770.jpg?1654122441" alt="placeImage">
    <div class="place-card__content">
      <h2 class="place-card__title">
        Sala 1
      </h2>
      <div class="place-card__buttons">
      <button class="place-card__edit-button">Editar</button>
      <button class="place-card__delete-button">Eliminar</button>
        </div>
    </div>
  </div>
  <div class="place-card">
    <img class="place-card__image" src="https://www.atleticodemadrid.com/system/file3s/78316/large/BV81gnkPa-__37A2770.jpg?1654122441" alt="placeImage">
    <div class="place-card__content">
      <h2 class="place-card__title">
        Sala 1
      </h2>
      <div class="place-card__buttons">
        <button class="place-card__edit-button">Editar</button>
        <button class="place-card__delete-button">Eliminar</button>
      </div>
    </div>
  </div>
  <div class="place-card">
    <img class="place-card__image" src="https://www.atleticodemadrid.com/system/file3s/78316/large/BV81gnkPa-__37A2770.jpg?1654122441" alt="placeImage">
    <div class="place-card__content">
      <h2 class="place-card__title">
        Sala 1
      </h2>
      <div class="place-card__buttons">
        <button class="place-card__edit-button">Editar</button>
        <button class="place-card__delete-button">Eliminar</button>
      </div>
    </div>
  </div>
</div>

<!--Modal para crear sala-->
<div class="modal" id="createPlaceModal">
  <div class="modal__content">
    <div class="modal__header">
      <h2 class="modal__title">Crear nueva sala</h2>
      <i class="fa-solid fa-xmark fa-lg" style="color: #ffffff;" onclick="openModal('createPlaceModal')"></i>
    </div>
    <div class="modal__body">
      <div class="modal__name">
        <label for="placeName" class="modal__label">Nombre de la sala:</label>
        <input type="text" id="placeName" class="modal__input" placeholder="Escribe el nombre de la sala" />
      </div>
      <div class="modal__search">
        <label for="userSearch" class="modal__label">Selecciona ubicación</label>
        <input type="text" id="userSearch" class="modal__input" placeholder="Buscar ubicación..."  onkeyup="searchInput('usersList', 'userSearch')"/>
      </div>
      <div class="modal__description">
        <label for="placeDescription" class="modal__label">Descripción: </label>
        <input type="text" id="placeDescription" class="modal__input" placeholder="Introduce una descricpión" />
      </div>

      <div class="confirmPlaceButton">
        <button class="buttons-container__button" id="confirmCreatePlace">Crear nueva sala</button>
      </div>

    </div>
  </div>
</div>
<!--Modal para editar sala-->
<div class="modal" id="editPlaceModal">
  <div class="modal__content">
    <div class="modal__header">
      <h2 class="modal__title">Editar sala</h2>
      <i class="fa-solid fa-xmark fa-lg" style="color: #ffffff;" onclick="openModal('editPlaceModal')"></i>
    </div>
    <div class="modal__body">
      <div class="modal__name">
        <label for="editPlaceName" class="modal__label">Nombre de la sala:</label>
        <input type="text" id="editPlaceName" class="modal__input" placeholder="Edita el nombre de la sala" />
      </div>
      <div class="modal__search">
        <label for="placeSearch" class="modal__label">Selecciona ubicación</label>
        <input type="text" id="placeSearch" class="modal__input" placeholder="Buscar ubicación..."  onkeyup="searchInput('usersList', 'userSearch')"/>
      </div>
    </div>
    <div class="confirmEditPlaceButton">
      <button class="buttons-container__button" id="confirmEditPlace">Guardar cambios</button>
    </div>
  </div>

</div>
<!--Modal para eliminar sala-->
<div class="modal" id="deletePlaceModal">
  <div class="modal__content">
    <div class="modal__header">
      <h2 class="modal__title">Eliminar sala</h2>
      <i>¿Está seguro de que desea eliminar la sala?</i>
    </div>
    <div class="modal__body">
      <div class="confirmEditPlaceButton">
        <button class="buttons-container__button" id="confirmDeletePlace">Confirmar</button>
      </div>
      <div class="confirmEditPlaceButton">
        <button class="buttons-container__button" id="confirmDeletelace">Cancelar</button>
      </div>
    </div>
</div>
</div>
</body>
</html>