<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div class="page-layout">
    <div class="menu">
        <h2 class="menu__title">Noisy-chestnut</h2>
        <ul class="menu__items">
            <li class="menu__item"><a href="../index.html" class="menu__link">Inicio</a></li>
            <li class="menu__item"><a href="../artist/artist.html" class="menu__link">Artistas</a></li>
            <li class="menu__item"><a href="/concert" class="menu__link">Conciertos</a></li>
            <li class="menu__item"><a href="#" class="menu__link">Nueva publicación</a></li>
            <li class="menu__item"><a href="../search/concerts.html" class="menu__link">Buscar</a></li>
            <li class="menu__item"><a href="../user/login.html" class="menu__link">Iniciar sesión</a></li>
            <li class="menu__item"><a href="../user/register.html" class="menu__link">Registrarse</a></li>
        </ul>
    </div>
    <div layout:fragment="content">

    </div>
</div>
</body>
</html>