@import "variables";

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: rgba($secondary-color, 0.6);
}

.list-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  height: 50%;
}


.user-list{
  min-height: 50%;
  max-height: 80%;
  min-width: 30%;
  max-width: 40%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: $tertiary-color;
  overflow-y: scroll;
  border-radius: 10px;

  &__element{
    background-color: $secondary-color;
    color: $font-color;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
  }

  &__username{
    color: inherit;
    margin: 0;
  }

  &__button{
    padding: 0.5rem 1rem;
    background-color: $primary-color;
    color: inherit;
    border: none;
    border-radius: 10px;
    margin: 0.25rem 0.5rem;
  }

  &__search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  &__search-label{
    color: $font-color;
    margin: 0;
  }

  &__search-input{
    background-color: $tertiary-color;
    padding: 0.5rem 1rem;
    color: $font-color;
    border: none;
    border-radius: 10px;
  }
}

.finish-button{
  padding: 0.5rem 1rem;
  background-color: $primary-color;
  color: $font-color;
  width: 20%;
  text-decoration: none;
  border-radius: 10px;

  &:hover{
    background-color: $hover-color;
    color: $font-color;
    text-decoration: none;
  }
}