@import "variables";

.user-form {
  width: 100%;
  background-color: $secondary-color;
  color: $font-color;
  padding: 2rem;
  border-radius: 3rem;
  max-width: 30%;
  margin-left: 35%;
  margin-top: 10%;

  &__field {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__input,
  &__select,
  &__textarea {
    padding: 0.5rem 1rem;
    border: 3px solid transparent;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: rgba($tertiary-color, 0.8);
    color: $font-color;


    &::placeholder {
      color: $font-color;
    }

    &:focus {
      outline: none;
      border: 1px solid $tertiary-color;
      box-shadow: 0 0 0 3px $hover-color;
    }
  }

  &__textarea {
    padding: 0.6rem 1rem;
    min-height: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: rgba($tertiary-color, 0.8);
    color: $font-color;
    max-width: 100%;
    min-width: 100%;
    font-size: small;
    box-sizing: border-box;
    border: 3px solid transparent;

  }

  &__button {
    background-color: $primary-color;
    color: $font-color;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  &__actions {
    text-align: center;
    margin-top: 2rem;
  }
}
