@import "variables";


.post-form {
  max-width: 35%;
  padding: 2rem;
  background-color: $secondary-color;
  border-radius: 10px;
  margin-left: 32.5%;
  margin-top: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  color: $font-color;



  &__group {
    margin-bottom: 1.5rem;

    &--center {
      text-align: center;
    }
  }

  &__label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__input,
  &__textarea,
  &__select{
    padding: 0.5rem 1rem;
    border: 3px solid transparent;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: rgba($tertiary-color, 0.8);
    color: $font-color;
    max-width: 100%;
    min-width: 100%;

    &::placeholder {
      color: $font-color;
    }

    &:focus {
      outline: none;
      border: 1px solid $tertiary-color;
      box-shadow: 0 0 0 3px $hover-color;
    }
  }
  &__textarea {
    padding: 0.6rem 1rem;
    min-height: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    background-color: rgba($tertiary-color, 0.8);
    color: $font-color;
    max-width: 100%;
    min-width: 100%;
    font-size: small;
    box-sizing: border-box;
    border: 3px solid transparent;
  }

  &__button {
    background-color: $primary-color;
    color: $font-color;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $hover-color;
    }
  }
}

