
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
   <link rel="stylesheet" th:href="@{/css/chat.css}"/>
</head>
<body>
        <div class="content" layout:fragment="content">
            <div class="chat">
                <div class="chat__header">
                    <img class="chat__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                    <div class="chat__header-text">
                        <h1 class="chat__title">
                            Usuario 1
                        </h1>
                        <p class="chat__description">
                            Descripcion usuario 1
                        </p>
                    </div>
                </div>
                <div class="chat__body">
                    <div class="chat__message-sender">
                       <p class="chat__text">
                           Prueba 1
                       </p>
                        <p class="chat__date">
                            10/03/25 14:30
                        </p>
                    </div>
                    <div class="chat__message-receiver">
                        <p class="chat__text">
                           Prueba 2
                       </p>
                        <p class="chat__date">
                            10/03/25 15:30
                        </p>
                    </div>
                    <div class="chat__message-sender">
                        <p class="chat__text">
                            Prueba 1
                        </p>
                        <p class="chat__date">
                            10/03/25 14:30
                        </p>
                    </div>
                    <div class="chat__message-sender">
                        <p class="chat__text">
                            Prueba 1
                        </p>
                        <p class="chat__date">
                            10/03/25 14:30
                        </p>
                    </div>
                </div>
                <div class="chat__input">
                    <input class="chat__input-box" type="text" placeholder="Escribe tu mensaje aqui" />
                </div>
            </div>
        </div>


    <!-- Enlace a los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>