<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interacción Social</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/social.css}"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</head>
<body>
      <div class="content" layout:fragment="content">
          <div class="buttons-container">
              <button class="buttons-container__button" onclick="selectTab('groupsTab', 'chats-tab')">
                  <i class="fas fa-comments"></i>
                  Grupos
              </button>
              <!--Botón para crear chat-->
              <button class="buttons-container__button" onclick="selectTab('usersTab', 'chats-tab')">
                  <i class="fas fa-comments"></i>
                  Usuarios
              </button>
          </div>
          <div class="chats-tab chats-tab--users" id="usersTab">
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Usuario 1
                      </h2>
                  </a>
              </div>
          </div>
          <div class="chats-tab chats-tab--groups" id="groupsTab">
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
              <div class="chats-tab__item">
                  <img class="chats-tab__image" src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg" alt="Chat Image"/>
                  <a class="chats-tab__link" href="/chat">
                      <h2 class="chats-tab__title">
                          Grupo 1
                      </h2>
                  </a>
              </div>
          </div>
      </div>  
</body>
</html>
