<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="pruebaweb.css">
    <link rel="stylesheet" th:href="@{/css/profile.css}" />
    <title>Perfil</title>
</head>
<body>
<!-- Menú lateral -->
    <div class="content" layout:fragment="content">
        <!-- Encabezado perfil -->
        <div class="profile-header">
            <img class="profile-header__userimage" src="https://imgs.search.brave.com/E_UWBRRxi_Mth0t2pKHhoYW5627CGE77wLMeEt6qDb0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvYmFz/aWMtZGVmYXVsdC1w/ZnAtcHhpNzdxdjVv/MHp1ejhqMy5qcGc" alt="FotoPerfil">
            <div class="profile-header__content">
                <div class="profile-header__info">
                    <h1 class="profile-header__username">Usuario</h1>
                    <p class="profile-header__description">Descripción del usuario</p>
                </div>
                <ul class="profile-header__info-items">
                    <li class="profile-header__info-item"><button class="profile-header__info-button" type="button" onclick="selectTab('pubTab', 'profile-content__principal')">Publicaciones</button></li>
                    <li class="profile-header__info-item"><button class="profile-header__info-button" type="button" onclick="selectTab('followersTab', 'profile-content__principal')">Seguidores</button></li>
                    <li class="profile-header__info-item"><button class="profile-header__info-button" type="button" onclick="selectTab('followingTab', 'profile-content__principal')">Seguidos</button></li>
                    <li class="profile-header__info-item"><button class="profile-header__info-button" type="button" onclick="selectTab('insigniaTab', 'profile-content__principal')">Insignias</button></li>
                </ul>
            </div>
        </div>
        <!-- Contenido -->
        <div class="profile-content">
            <!-- COLUMNA PRINCIPAL PUBLICACIONES -->
            <div class="profile-content__principal profile-content__principal--pubs" id="pubTab">
                <!-- Publicación 1 -->
                <div class="pub-card">
                    <div class="pub-card__header">
                        <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
                             class="pub-card__user-image" alt="">
                        <div class="pub-card__username">Usuario 1</div>
                    </div>
                    <div class="pub-card__body">
                        <h5 class="pub-card__title">Contenido de la publicación</h5>
                    </div>
                    <div class="pub-card__footer">
                        <p class="pub-card__date">Fecha y hora de la publicación</p>
                        <a class="pub-card__link" href="/publication">Ver mas</a>
                    </div>
                </div>
                <!-- Publicación 2 -->
                <div class="pub-card">
                    <div class="pub-card__header">
                        <img src="https://as1.ftcdn.net/v2/jpg/03/46/83/96/1000_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
                             class="pub-card__user-image" alt="">
                        <div class="pub-card__username">Usuario 2</div>
                    </div>
                    <div class="pub-card__body">
                        <h5 class="pub-card__title">Contenido de la publicación</h5>
                    </div>
                    <div class="pub-card__footer">
                        <p class="pub-card__date">Fecha y hora de la publicación</p>
                        <a class="pub-card__link" href="/publication">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="profile-content__principal profile-content__principal--followers" id="followersTab">
                <div class="user-card">
                    <div class="user-card__info">
                        <img class="user-card__image"
                             src="https://i.scdn.co/image/ab6761610000e5eb81f47f44084e0a09b5f0fa13"
                             alt="Profile Image"/>
                        <h1 class="user-card__username">
                            <a class="user-card__link" href="/user/profile">
                                @Usuario1
                            </a>
                        </h1>
                        <p class="user-card__description">
                            Descripcion usuario1
                        </p>
                    </div>
                    <button class="user-card__button">
                        Seguir
                    </button>
                </div>
                <div class="user-card">
                    <div class="user-card__info">
                        <img class="user-card__image"
                             src="https://i.scdn.co/image/ab6761610000e5eb81f47f44084e0a09b5f0fa13"
                             alt="Profile Image"/>
                        <h1 class="user-card__username">
                            <a class="user-card__link" href="/user/profile">
                                @Usuario1
                            </a>
                        </h1>
                        <p class="user-card__description">
                            Descripcion usuario1
                        </p>
                    </div>
                    <button class="user-card__button">
                        Seguir
                    </button>
                </div>
            </div>

            <div class="profile-content__principal profile-content__principal--following" id="followingTab">
                <div class="user-card">
                    <div class="user-card__info">
                        <img class="user-card__image"
                             src="https://i.scdn.co/image/ab6761610000e5eb81f47f44084e0a09b5f0fa13"
                             alt="Profile Image"/>
                        <h1 class="user-card__username">
                            <a class="user-card__link" href="/user/profile">
                                @Usuario1
                            </a>
                        </h1>
                        <p class="user-card__description">
                            Descripcion usuario1
                        </p>
                    </div>
                    <button class="user-card__button">
                        Siguiendo
                    </button>
                </div>
                <div class="user-card">
                    <div class="user-card__info">
                        <img class="user-card__image"
                             src="https://i.scdn.co/image/ab6761610000e5eb81f47f44084e0a09b5f0fa13"
                             alt="Profile Image"/>
                        <h1 class="user-card__username">
                            <a class="user-card__link" href="/user/profile">
                                @Usuario1
                            </a>
                        </h1>
                        <p class="user-card__description">
                            Descripcion usuario1
                        </p>
                    </div>
                    <button class="user-card__button">
                        Siguiendo
                    </button>
                </div>
            </div>

            <div class="profile-content__principal profile-content__principal--insignia" id="insigniaTab">

            </div>
            <!-- COLUMNA DERECHA CARDS -->
            <div class="profile-content__more">
                <!-- Próximos conciertos -->
                <div class="concert-card">
                    <div class="concert-card__header">
                        <h5 class="concert-card__title">Próximos conciertos</h5>
                    </div>
                    <div class="concert-card__body">
                        <div class="concert-card__item">Concierto de David Guetta</div>
                        <div class="concert-card__item">Cabo de Plata</div>
                        <div class="concert-card__item">Tomorrowland</div>
                        <div class="concert-card__item">Concierto de Melendi</div>
                        <div class="concert-card__item">Concierto de Carol G</div>
                    </div>
                    <div class="concert-card__footer">
                        //TO-DO: Hacer que este boton abra un modal con la lista de conciertos
                        <a class="concert-card__link">Ver mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
