
<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main_layout.html}"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
   <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body>
        <div class="content" layout:fragment="content">
            <!-- Publicación 1 -->
            <div class="pub-card" th:each="publication:${publications}">
                <div class="pub-card__header">
                    <img th:src="${publication.getUser().getImageUrl()}" class="pub-card__user-image"alt="">
                    <div class="pub-card__username" th:text="${publication.getUser().getUsername()}"></div>
                </div>
                <div class="pub-card__body">
                    <h5 class="pub-card__title" th:text="${publication.getDescription()}">Contenido de la publicación</h5>
                </div>
                <div class="pub-card__footer">
                    <p class="pub-card__date" th:text="${publication.getDate()}"></p>
                    <a class="pub-card__link" href="/publication" >Ver mas</a>
                </div>
            </div>
        </div>
    <!-- Enlace a los scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
</body>
</html>